.footer_content {
    border-radius: 16px;
    padding: 40px 0px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(322deg, #6966ff 0%, rgba(105, 102, 255, 0.36) 100%);
    margin-bottom: 16%;
}

.footer_content h6 {
    font-weight: 450;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--base-white);
    margin-bottom: 1%;
}

.footer_content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--base-white);
    margin-bottom: 1.7%;
}

.footer_content button {
    margin: 0 auto;
    border-radius: 7px;
    padding: 12px 16px;
    background: var(--base-white);
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--accent-brand);
    border: none;
}

.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.footer_wrapper ul {
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

.footer_wrapper ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-icon-secondary);
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer_icon {
    display: flex;
    align-items: center;
    gap: 32px;
}

@media(max-width:894px) {
    .footer_content h6 {
        font-size: 17px;
    }

    .footer_content h3 {
        font-size: 37px;
    }

    .footer_content button {
        font-size: 15px;
    }

    .footer_wrapper ul li {
        font-size: 14px;
    }
}

@media(max-width:784px) {
    .footer_content h6 {
        font-size: 16px;
    }

    .footer_content h3 {
        font-size: 35px;
    }

    .footer_content button {
        font-size: 15px;
    }

    .footer_wrapper ul li {
        font-size: 13px;
    }

    .footer_wrapper ul img {
        width: 40px;
    }

    .footer_icon img {
        width: 20px;
    }
}

@media(max-width:725px) {
    .footer_content h6 {
        font-size: 15px;
    }

    .footer_content h3 {
        font-size: 30px;
    }

    .footer_content button {
        font-size: 13px;
    }
    .footer_content button img{
        width: 11%;
    }

    .footer_wrapper ul li {
        font-size: 10px;
    }

    .footer_wrapper ul img {
        width: 40px;
    }

    .footer_icon img {
        width: 20px;
    }

}
@media(max-width:725px) {
    .footer_content h6 {
        font-size: 15px;
    }

    .footer_content h3 {
        font-size: 30px;
    }

    .footer_content button {
        font-size: 13px;
    }
    .footer_content button img{
        width: 11%;
    }

    .footer_wrapper ul li {
        font-size: 10px;
    }
    .footer_wrapper ul{
        gap: 4%;
    }

    .footer_wrapper ul img {
        width: 40px;
    }

    .footer_icon img {
        width: 20px;
    }
    .footer_icon{
        gap: 12px;
    }

}
@media(max-width:725px) {
    .footer_content h6 {
        font-size: 15px;
    }

    .footer_content h3 {
        font-size: 30px;
    }

    .footer_content button {
        font-size: 13px;
    }
    .footer_content button img{
        width: 11%;
    }

    .footer_wrapper ul li {
        font-size: 14px;
        margin-bottom: 24px;
    }
    .footer_wrapper ul{
        gap: 4%;
    }
    .footer_wrapper {
        display: inline;
    }
    .footer_wrapper ul{
        display: inline;
    }

    .footer_wrapper ul img {
        width: 60px;
        margin-bottom: 32px;
    }

    .footer_icon img {
        width: 20px;
    }
    .footer_icon{
        gap: 32px;
        margin-bottom: 10%;
    }

}